
/* Grid Layouts challenge */
h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}
span{
    color: navy;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:1rem;
}

@media(max-width:550px){
    .main{
        grid-template-columns:  1fr 1fr;
    }
}

@media(max-width:390px){
    .main{
        grid-template-columns:  1fr;
    }
}

.grid-container{
    display: grid;
    gap: 5px;
    border: 5px solid black;
}


/* Layout_1 */
#container_1{
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 3.3rem 9rem;
}
#cnt_1-id_1{
    grid-column: span 2;
    background-color: palevioletred;
}
#cnt_1-id_3{
    background-color: grey;
}
.cnt_1{
    background-color: skyblue;
}

/* Layout_2 */
#container_2{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.4rem 1.3rem 4.5rem 4.5rem;
    gap: 5px;
}
#cnt_2-id_1{
    grid-row: span 2;
    background-color: grey;
}
#cnt_2-id_2{
    grid-column: span 3;
}
#cnt_2-id_6{
    grid-row: span 2;
}
#cnt_2-id_7,#cnt_2-id_8{
    grid-column: span 3;
    background-color: palevioletred;
}
#cnt_2-id_3,#cnt_2-id_4,#cnt_2-id_5{
    background-color: coral;
}
.cnt_2{
    background-color: skyblue;
}

/* Layout_3 */
#container_3{
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 4rem 2rem  6rem;
}
#cnt_3-id_1{
    grid-column: span 3;
    background-color: grey;
}
#cnt_3-id_2{
    grid-column: span 2;
    background-color: palevioletred;
}
#cnt_3-id_3{
    grid-row: span 2;
    background-color: coral;
}
.cnt_3{
    background-color: skyblue;
}

/* Layout_4 */
#container_4{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3rem 7rem 2rem;
}
#cnt_4-id_1,#cnt_4-id_5{
    grid-column: span 3;
    background-color: coral;
}
.cnt_4{
    background-color: skyblue;
}

/* Layout_5 */
#container_5{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3.3rem 4.5rem 4.5rem;
}
#cnt_5-id_1{
    grid-column: span 2;
    background-color: grey;
}
#cnt_5-id_2,#cnt_5-id_5{
    background-color: palevioletred;
}
.cnt_5{
    background-color: skyblue;
}

/* Layout_6 */
#container_6{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1.3rem 7rem 4rem;
}
#cnt_6-id_1{
    grid-column: span 3;
    background-color: grey;
}
#cnt_6-id_4{
    background-color: grey;
}    
#cnt_6-id_2{
    grid-column: span 3;
    background-color: palevioletred;
}    
.cnt_6{
    background-color: skyblue;
}    

/* Layout_7 */
#container_7{
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 3.5rem 5.3rem 3.5rem;
}
#cnt_7-id_1{
    grid-column: span 5;
    background-color: skyblue;
}
#cnt_7-id_2,#cnt_7-id_4{
    grid-row: span 2;
    background-color: coral;
}
#cnt_7-id_3{
    grid-column: span 3;
    background-color: palevioletred;
}
.cnt_7{
    background-color: grey;
}

/* Layout_8 */
#container_8{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1.5rem 3.5rem 3.5rem 3.5rem;
}
#cnt_8-id_1{
    grid-column: span 4;
    background-color: gray;
}
#cnt_8-id_3,#cnt_8-id_5,#cnt_8-id_6,#cnt_8-id_8,#cnt_8-id_11,#cnt_8-id_13{
    background-color: palevioletred;
}
.cnt_8{
    background-color: skyblue;
}

/* Layout_9 */
#container_9{
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1.4rem 5.5rem 5.5rem;
}
#cnt_9-id_1{
    grid-column: span 3;
}
#cnt_9-id_2{
    grid-row: span 2;
    grid-column: span 2;
    background-color: skyblue;
}
#cnt_9-id_3{
    background-color: grey;
}
.cnt_9{
    background-color: palevioletred;
}

/* Layout_10 */
#container_10{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  3rem 1.1rem 4rem 4rem;
}
#cnt_10-id_1{
    grid-column: span 3;
    background-color: grey;
}
#cnt_10-id_2{
    grid-column: span 3;
    background-color: skyblue;
}
#cnt_10-id_3,#cnt_10-id_5,#cnt_10-id_7{
    background-color: palevioletred;
}
.cnt_10{
    background-color: coral;
}    

/* Layout_11 */
#container_11{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3.4rem 4.5rem 4.5rem;
}
#cnt_11-id_1{
    grid-column: span 3;
    background-color: palevioletred;
}
#cnt_11-id_2{
    grid-row: span 2;
    background-color: plum;
}
#cnt_11-id_4{
    grid-row: span 2;
    background-color: plum;
}
.cnt_11{
    background-color: skyblue;
}

/* Layout_12 */
#container_12{
    grid-template-columns:  1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2rem 10rem 1.2rem;
}
#cnt_12-id_1,#cnt_12-id_6{
    grid-column: span 4;
    background-color: coral;
}
#cnt_12-id_3{
    background-color: palevioletred;
}
#cnt_12-id_4{
    background-color: grey;
}

.cnt_12{
    background-color: skyblue;
}

/* Layout_13 */
#container_13{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 4rem 4rem 4rem;
}
#cnt_13-id_1{
    grid-column: span 4;
}
#cnt_13-id_3{
    grid-column: span 2;
    grid-row: span 2;
    background-color: coral;    
}
#cnt_13-id_2,#cnt_13-id_4{
    grid-row: span 2;
}
.cnt_13{
    background-color: skyblue;
}

/* Layout_14 */
#container_14{
    grid-template-columns: 1.5fr 2fr 2fr 2fr 1.5fr;
    grid-template-rows: 5rem 3.5rem 3.5rem;
}
#cnt_14-id_1{
    grid-column: span 5;
    background-color: palevioletred;
}
#cnt_14-id_2,#cnt_14-id_6{
    grid-row: span 2;
    background-color: coral;
}
#cnt_14-id_4,#cnt_14-id_8{
    background-color: grey;
}
.cnt_14{
    background-color: skyblue;
}

/* Layout_15 */
#container_15{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2rem 4rem 6rem;
}
#cnt_15-id_1{
    background-color: grey;
}
#cnt_15-id_2{
    grid-column: span 2;
}
#cnt_15-id_3{
    grid-column: span 3;
    background-color: palevioletred;
}    
#cnt_15-id_5{
    background-color: coral;
}
.cnt_15{
    background-color: skyblue;
}    

/* Layout_16 */
#container_16{
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 1.5rem 4.5rem 6rem;
}
#cnt_16-id_1{
    grid-column: span 5;
    background-color: skyblue;
}
#cnt_16-id_2,#cnt_16-id_4{
    grid-row: span 2;
    background-color: coral;
}
#cnt_16-id_3{
    grid-column: span 3;
    background-color: palevioletred;
}
.cnt_16{
    background-color: skyblue;
}

/* Layout_17 */
#container_17{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  4rem 2rem 2rem 2rem 2rem ;
}
#cnt_17-id_1{
    grid-column: span 4;
}
#cnt_17-id_2{
    background-color: grey;
}
#cnt_17-id_2,#cnt_17-id_6{
    grid-row: span 2;
}
#cnt_17-id_3{
    grid-row: span 3;
    grid-column: span 2;
    background-color: palevioletred;
}
#cnt_17-id_7{
    grid-column: span 2;
}
#cnt_17-id_5{
    grid-row: span 3;
    background-color: grey;
}
.cnt_17{
    background-color: skyblue;
}

/* Layout_18 */
#container_18{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  2.rem 6rem 4rem ;
}
#cnt_18-id_1{
    grid-column: span 3;
}
#cnt_18-id_2{
    grid-column: span 2;
}
#cnt_18-id_2,#cnt_18-id_6{
    background-color: palevioletred;
}
.cnt_18{
    background-color: skyblue;
}

/* Layout_19 */
#container_19{
    grid-template-columns: 5fr 1fr;
    grid-template-rows:  10.1rem 2.9rem;
}
#cnt_19-id_3{
    grid-column: span 2;
}
#cnt_19-id_3,#cnt_19-id_2{
    background-color: skyblue;
}
.cnt_19{
    background-color: palevioletred;
}


/* Layout_20 */
#container_20{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  2rem 8.7rem 2rem;
}
#cnt_20-id_2{
    grid-column: span 2;
}
#cnt_20-id_1{
    background-color: grey;
}
#cnt_20-id_4{
    background-color: coral;
}
#cnt_20-id_6{
    grid-column: span 3;
    background-color: grey;
}
.cnt_20{
    background-color: skyblue;
}

/* Layout_21 */
#container_21{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  2rem 5rem 5rem;
}
#cnt_21-id_1{
    grid-column: span 3;
}
#cnt_21-id_2,#cnt_21-id_5{
    grid-column: span 2;
    background-color: coral;
}
#cnt_21-id_3,#cnt_21-id_4{
    background-color: palevioletred;
}
.cnt_21{
    background-color: skyblue;
}

/* Layout_22 */
#container_22{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  4rem 6rem 2rem;
}
#cnt_22-id_1{
    grid-column: span 4;
    background-color: palevioletred;
}
#cnt_22-id_3{
    grid-column: span 2;
    background-color: coral;
}
#cnt_22-id_5,#cnt_22-id_6{
    grid-column: span 2;
    background-color: palevioletred;
}
.cnt_22{
    background-color: skyblue;
}

/* Layout_23 */
#container_23{
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows:  2rem 5rem 5rem;
}
#cnt_23-id_1{
    grid-column: span 3;
    background-color: coral;
}
#cnt_23-id_3{
    grid-row: span 2;
    background-color: palevioletred;
}
#cnt_23-id_2,#cnt_23-id_6{
    background-color: grey;
}
.cnt_23{
    background-color: skyblue;
}

/* Layout_24 */
#container_24{
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 5rem 2rem 5rem;
}
#cnt_24-id_1{
    grid-column: span 6;
    background-color: palevioletred;
}
#cnt_24-id_2,#cnt_24-id_3,#cnt_24-id_4{
    grid-column: span 2;
    background-color: grey;
}
#cnt_24-id_5,#cnt_24-id_6{
    grid-column: span 3;
}
.cnt_24{
    background-color: skyblue;
}



